/*-- scss:defaults --*/


/*-- scss:rules --*/

$web-font-path: "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" !default;

@if $web-font-path {
	@import url($web-font-path);
}

.navbar-container {
	width: 820px !important;
}

.navbar-title {
	font-family: 'Playfair Display', serif;
	font-size: 4vw;
}

.quarto-listing-table.no-borders,
.quarto-listing-table.no-borders tbody,
.quarto-listing-table.no-borders tr,
.quarto-listing-table.no-borders td {
	border: none !important;
}

.quarto-listing-table.no-borders td:nth-child(2) {
	text-align: right;
}

h2 {
	border-bottom: 0;
	padding-bottom: 0;
	margin-top: 1rem;
}

.table> :not(caption)>*>* {
	padding: 0;
}